fieldset {
	margin-top:1.1em;
	padding-top:.76em;
	position: relative;
	background-color: #E5FFB9;
	border: 1px solid #cccccc;
}

legend {
	font-size: 14px;
	position:absolute;
    top: -.7em;
    left: .5em;
}