html {
		background: #C6D6D6;
}

.container {
	margin: 0 auto;
	width: 800px;
}

.wrapper {
	margin-top: 50px;
	float: left;
	min-width: 800px;


}

/*Leftside menu*/
.categories {
	width: 150px;
	border: 1px solid grey;
	text-align: center;
	float: left;
	background-color: #E9FFFF;
	border-radius: 10px;
}

.categories ul{
	list-style: none;	
}

.categories .clicked {
	color: red;
}

.categories li {
	margin: 0.7em;
	padding: 0.5em;
}

.categories li:hover {
	background-color: #98D6D6;
	border-radius: 8px;
}

.categories a {
	text-decoration: none;
	color: green;
}


/*cart*/
.cart {
	position: absolute;
	width: 600px;
	top: 300px;
	border: 1px solid grey;
	background-color: #E9FFFF;
	border-radius: 10px;
}

.cart table {
	width: 100%;
}

.cart td {
	text-align: left;
	padding: 10px;
}

.head {
	border-bottom: 1px solid grey;
	width: 100%;
}

.head .close {
	position: relative;
	text-align: right;
	/*top: -0.6em;
	right: -2em;*/
}

/*.head td:last-child {
	background-image: url(../img/close1.png);
	background-repeat: no-repeat;
		background-position-x: 98%;
		 background-position-y: 10%;
}*/

.total td:first-child,
.head td:first-child,
.order td:first-child {
	width: 370px;
	text-align: left;
}

/*.order td:first-child {
	text-align: left;
	width: 370px;
}
*/
.order td,
.total td,
.head td {

	vertical-align: middle;
}

.quantity {
	padding-right: 2em;
}

.price {
	padding-right: 2em;
}

.total {
	border-top: 1px solid grey;
	color: red;

}
/*sorting*/
.sort {
	font-size: 0.7em;
	text-align: center;
}

.sort span {
	font-size: 1.2em;
	font-weight: bold;
	color: blue;
	cursor: pointer;
}
/*content*/
.content {
	width: 400px;
	float: left;
	display: inline-block;
	margin-left: 20px;
	border: 1px solid grey;
	background-color: #E9FFFF;
	border-radius: 10px;
}


.headers span,
.goods span {
	display: inline-block;
	width: 32%;
	text-align: center;
	padding: 0.5em 0;
	vertical-align: middle;
}

.goods div:hover {
	cursor: pointer;
}

.headers span {
	font-size: 0.7em;
	font-weight: bold;
}

.total td,
.head td,
.order td {
	text-align: center;
}

.order:hover {
	background: #D0DEEB;
	
}

.order td:last-child button:hover {
	cursor: pointer;
}

/*mini cart*/
.mini_cart {

	border: 1px solid grey;
	width: 200px;
	margin-left: 594px;
	background: #E9FFFF url(../img/bagb1.png) no-repeat;
	background-position: left;
	border-radius: 10px;
}

.mini_cart table{
	width: 100%;
}

.mini_cart table td {
	width: 50%;
	padding: 0.5em;
}

.mini_cart table tr {

	text-align: center;
}

.mini_cart table:hover {
	background: url(../img/bagw1.png) no-repeat;
	background-position: left;
	border-radius: 10px;
}